.img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.item {
    text-align: center;
    text-transform: uppercase;
    padding-top: 5%;
    padding-bottom: 5%;
}

.rateting {
    background: url('../img/rateting.png') no-repeat center center;
    width: 178px;
    height: 16px;
    margin: auto;
}

.price {
    color: red;
    font-weight: bold;
}

.detail {
    padding-top: 15%;
    padding-bottom: 3%;
}

.title-footer {
    text-align: center;
    color: red;
    font-weight: bold;
}

.ul-footer {
    list-style-type: none;
}

.ul-footer a {
    color: white;
}